{% extends "broker/layout.html" %} {% block title %}DashBoard {% endblock %} {% load static %} {% block body %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>


        <!-- CHARTS -->

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i> Stock Performance
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
            <div id="UPD" class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>




        <!-- info devs -->
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-auto">
                    <img src="{% static 'bg/android-chrome-512x512.png' %}" class="card-img-top" alt="{% static 'bg/android-chrome-512x512.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">Balance</h5>
                        <p class="card-text" id="BALANCE">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-auto">
                    <img src="{% static 'bg/android-chrome-512x512.png' %}" class="card-img-top" alt="{% static 'bg/android-chrome-512x512.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">Change</h5>
                        <p class="card-text" id="CHANGE">This is a short card.</p>
                    </div>
                </div>
            </div>

            <!-- info devs end -->


            <!-- table ins -->
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i> DataTable Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                    <tbody>


                        <tr>
                            <td>Jennifer Chang</td>
                            <td>Regional Director</td>
                            <td>Singapore</td>
                            <td>28</td>
                            <td>2010/11/14</td>
                            <td>$357,650</td>
                        </tr>
                        <tr>
                            <td>Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td>28</td>
                            <td>2011/06/07</td>
                            <td>$206,850</td>
                        </tr>
                        <tr>
                            <td>Fiona Green</td>
                            <td>Chief Operating Officer (COO)</td>
                            <td>San Francisco</td>
                            <td>48</td>
                            <td>2010/03/11</td>
                            <td>$850,000</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- table end -->
</main>
{% endblock %} {% block script %}
<script src="{% static 'assets/demo/index.js' %}"></script>

{% endblock%}